<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" th:href="@{/img/gapsi_favicon.ico}">
	<title>e-Commerce Gapsi</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.6/css/dataTables.bootstrap5.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.4.2/css/scroller.bootstrap5.css">
</head>

<body>
	<div class="row" th:insert="~{fragments/header.html :: header}"></div>


	<div class="ps-5 pe-5 pt-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{'/'}">Bienvenida</a></li>
				<li class="breadcrumb-item active" aria-current="page">Administración de Proveedores</li>
			</ol>
		</nav>
		<div class="row align-items-end">
			<h2 class="col-10 pb-4 pt-3" style="color: #045db5;"><i class="fa-solid fa-boxes-packing"></i> Administración de Proveedores</h2>
			<div class="col-2 text-end">				
				<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregar"><i class="fa fa-plus"></i> Agregar Proveedor</button>
			</div>
		</div>
		
		<div th:if="${error}" class="alert alert-danger mt-3" role="alert" th:text="${error}"></div>
		<div th:if="${info}" class="alert alert-info mt-3" role="alert" th:text="${info}"></div>

		<table id="tblProveedores" class="table table-striped nowrap">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Razón Social</th>
					<th>Dirección</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
	
	<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Eliminar Proveedor</h5>
					<a type="button" class="close text-dark" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</a>
				</div>
				<div class="modal-body">
					<p>¿Desea eliminar este proveedor?</p>
				</div>
				<div class="modal-footer">
					<form class="m-0" method="post" action="#" th:action="@{/eliminarProveedor}">
						<input type="hidden" name="idProveedor" id="idProveedorEliminar"></input>
						<button type="submit" class="btn btn-danger"><i class='fa-regular fa-trash-can'></i> Sí, eliminar</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div id="modalAgregar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAgregarCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<form class="m-0" method="post" action="#" th:action="@{/agregarProveedor}" th:object="${proveedor}">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agregar Proveedor</h5>
					<a type="button" class="close text-dark" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-solid fa-xmark"></i>
					</a>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="pNombre" class="form-label">Nombre</label>
						<input type="text" class="form-control" id="pNombre" th:field="*{nombre}" maxlength="100">
					</div>
					<div class="mb-3">
						<label for="pRazonSocial" class="form-label">Razón Social</label>
						<input type="text" class="form-control" id="pRazonSocial" th:field="*{razonSocial}" maxlength="100">
					</div>
					<div class="mb-3">
						<label for="pDireccion" class="form-label">Dirección</label>
						<input type="text" class="form-control" id="pDireccion" th:field="*{direccion}" maxlength="100">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> Guardar</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
			</form>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/2.0.6/js/dataTables.bootstrap5.js"></script>
	<script src="https://cdn.datatables.net/scroller/2.4.2/js/dataTables.scroller.js"></script>
	<script src="https://cdn.datatables.net/scroller/2.4.2/js/scroller.bootstrap5.js"></script>
	<script th:src="@{/js/proveedores.js}"></script>
</body>

</html>